<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('photo-list')}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('photos')}"></nav>
<div class="container mt-4">
    <div th:replace="~{fragments/components :: message}"></div>
    <h1 class="mb-4">Lista delle Foto</h1>
    <div class="text-center">
        <a class="btn btn-primary my-5" th:href="@{/photos/create}" title="create">Aggiungi Nuova Photo</a>
    
    </div>
    <form th:action="@{/photos}" method="GET" class="w-25 mb-4">
        <div class="input-group">
            <!-- input precaricato leggendo il parametro search della request -->
            <input
                    type="text"
                    placeholder="Ricerca per nome o descrizione"
                    class="form-control" name="search"
                    th:value="${param.search}"
            >
            
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    
    </form>
    <div th:if="${photoList.size() > 0}">
        
        <table class="tablePhotos table table-dark table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titolo</th>
                <th>Descrizione</th>
                <th>URL Immagine</th>
                <th>Visibile</th>
                <th>Data Creazione</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="photo : ${photoList}" th:object="${photo}">
                <td th:text="*{id}">ID</td>
                <td th:text="*{titolo}">Titolo</td>
                <td th:text="*{descrizione}">Descrizione</td>
                <td>
                    <img class="imgList" th:src="*{urlImage}" alt="">
                </td>
                <td>
                    <!--                    <div class="form-check">-->
                    <!--                        <input class="form-check-input" type="checkbox" th:checked="*{visible}"-->
                    <!--                               th:id="'flexCheckDefault' + *{id}">-->
                    <!--                        <label class="form-check-label" th:for="'flexCheckDefault' + *{id}">-->
                    <!--                            Visibile SI/NO-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                    <form th:action="@{/photos/toggleVisibility/{id}(id=*{id})}" method="post">
                        <input class="form-check-input" type="checkbox" id="visibilityCheckbox${photo.id}"
                               th:checked="${photo.visible}" onchange="this.form.submit()"/>
                        <label class="form-check-label" for="visibilityCheckbox${photo.id}">
                            Visibile SI/NO
                        </label>
                        <input type="hidden" name="_method" value="post"/>
                    </form>
                
                </td>
                <td th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy')}">Data Creazione</td>
                <td>
                    <!-- Pulsanti di Azione -->
                    <div class="d-flex justify-content-around">
                        <a th:href="@{/photos/show/{id}(id=*{id})}" class="btn btn-info btn-sm">Dettagli</a>
                        <a th:href="@{/photos/edit/{id}(id=${photo.id})}" class="btn btn-primary btn-sm">Modifica</a>
                        <button
                                
                                type="button" class="btn btn-danger"
                                data-bs-toggle="modal" th:data-bs-target="|#exampleModal_*{id}|"
                        >
                            Cancella
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" th:id="|exampleModal_*{id}|" tabindex="-1"
                             th:aria-labelledby="|exampleModalLabel_*{id}|" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" th:id="|exampleModalLabel_*{id}|">Conferma
                                            Eliminazione</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Sei sicuro di voler eliminare la foto con id: [[*{id}]] e nome: <span
                                            th:text="${photo.titolo}">NomeFoto</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi
                                        </button>
                                        <form method="POST" th:action="@{/photos/delete/{id}(id=*{id})}">
                                            <button type="submit" class="btn btn-danger">Cancella</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${photoList.size() > 0}">No results</div>
</div>
</body>
</html>
