*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.searchInput{
    width: 350px !important;

}
#contactForm{
    max-width: 500px;
    margin: auto;
}
body, .navbar{
    background-color: black;
}
img{
    height: 250px;
    padding: 0.5rem;
}