        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-align: center;

            font-size: 0.95rem;
        }
         .imgList {
                width: 70px;
                height: 70px;

                display: block;
                margin: auto;
        }
       th{
            color: red !important;
       }
       .userRole{
            font-weight: bold;

       }
       .tableUser{
          border-radius: 15px !important;

       }
       .active{
        color: red !important;
       }
       .tablePhotos th{
            color: white !important;
            padding-bottom: 15px;

       }
       .nav-link {
           font-weight: bold;
           color: white;

       }
        .message-cell {
            max-width: 350px;
            word-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        nav{
            background-color: #2F2F2F;
            color: white !important;
        }



